body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#notes {
  height: 800px;
}
#note-creator {
  display: none;
  position: absolute;
  background: #eee;
  padding: 1em;
  right: 0;
}
#note-creator.active {
  display: block;
}
#note-creator.add .edit {
  display: block;
}
#note-creator.add .view {
  display: none;
}
#note-creator.add #add-note {
  display: block;
}
#note-creator.add #edit-note {
  display: none;
}
#note-creator.edit .edit {
  display: block;
}
#note-creator.edit .view {
  display: none;
}
#note-creator.edit #add-note {
  display: none;
}
#note-creator.edit #edit-note {
  display: block;
}
#note-creator.view .edit {
  display: none;
}
#note-creator.view .view {
  display: block;
}
#note-creator.view #add-note {
  display: none;
}
#note-creator.view #edit-note {
  display: none;
}
#context-creator {
  display: none;
  position: absolute;
  background: #eee;
  padding: 1em;
  right: 0;
}
#context-creator.active {
  display: block;
}
#notes-list {
  height: 250px;
  overflow-y: scroll;
}
.collaborator {
  display: block;
  padding: 2px;
  margin: 0 0 2px 0;
  border: 1px solid #000;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 9px;
  line-height: 1em;
  text-align: right;
}
svg.view {
  cursor: pointer;
}
svg.note {
  cursor: crosshair;
}
svg.move {
  cursor: move;
}
svg.delete {
  cursor: not-allowed;
}
