body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.control .btn-group-vertical .btn {
  width: 100%;
}
.control .logo {
  min-height: 51px;
  background-image: url("/images/logo.png");
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
.control .title {
  font-size: 20px;
  line-height: 20px;
}
.toolbar .owner {
  padding: 10px 0 0 0;
}
.toolbar .display-context-creator {
  display: none;
}
.metadata {
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.metadata div {
  position: relative;
}
.metadata .description {
  position: absolute;
  width: 350px;
  background: #eee;
  z-index: 2;
  padding: 10px;
  height: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.metadata .description p:first-child {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
.metadata .description p {
  display: none;
}
.metadata .description:hover {
  white-space: normal;
}
.metadata .description:hover p:first-child {
  text-overflow: inherit;
  white-space: normal;
  overflow-x: inherit;
}
.metadata .description:hover p {
  display: block;
}
#notes {
  height: 100%;
}
#note-creator {
  display: none;
  position: absolute;
  background: #eee;
  padding: 1em;
  right: 0;
}
#note-creator.active {
  display: block;
}
#note-creator.add .edit {
  display: block;
}
#note-creator.add .view {
  display: none;
}
#note-creator.add .thumbnail {
  display: block;
}
#note-creator.add #add-note {
  display: inline-block;
}
#note-creator.add #edit-note {
  display: none;
}
#note-creator.edit .edit {
  display: block;
}
#note-creator.edit .view {
  display: none;
}
#note-creator.edit .thumbnail {
  display: block;
}
#note-creator.edit #add-note {
  display: none;
}
#note-creator.edit #edit-note {
  display: inline-block;
}
#note-creator.view .edit {
  display: none;
}
#note-creator.view .view {
  display: block;
}
#note-creator.view .thumbnail {
  display: block;
}
#note-creator.view #add-note {
  display: none;
}
#note-creator.view #edit-note {
  display: none;
}
#note-creator .thumbnail {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}
#note-creator .comments-header span.on {
  display: none;
}
#note-creator .comments-header span.off {
  display: inline;
}
#note-creator .comments-header.expanded span.on {
  display: inline;
}
#note-creator .comments-header.expanded span.off {
  display: none;
}
#comment-creator {
  display: none;
}
#context-creator {
  display: none;
  position: absolute;
  background: #eee;
  padding: 1em;
  right: 0;
}
#context-creator.active {
  display: block;
}
#notes-list {
  height: 250px;
  overflow-y: scroll;
}
#collaborators {
  width: 100px;
  margin-left: 0;
}
#collaborators .collaborator {
  display: none;
  padding: 2px;
  margin: 0 0 2px 0;
  border: 1px solid #000;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 9px;
  line-height: 1em;
  text-align: right;
  box-sizing: border-box;
  cursor: pointer;
}
#authorizeButton[disabled] {
  display: none;
}
.comments {
  margin: 0;
}
.comments li {
  float: left;
  width: 100%;
  display: none;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  list-style: none;
  color: #fff;
  font-size: 11px;
}
.comments li .display-name {
  display: inline-block;
  float: right;
  margin: 0 5px;
}
.comments li .created {
  display: inline-block;
  float: right;
  margin: 0 5px;
}
svg.marker {
  cursor: crosshair;
}
svg.move {
  cursor: move;
}
svg.delete {
  cursor: not-allowed;
}
