body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.control
  .btn-group-vertical
    .btn
      width: 100%

.metadata
  margin-bottom 5px
  border-bottom 1px solid #eee

  .display-context-creator
    display: none

#notes
  height 100%

#note-creator
  display none
  position absolute
  background #eee
  padding 1em
  right 0

  &.active
    display block

  &.add
    .edit
      display block
    .view
      display none
    .thumbnail
      display none
    #add-note
      display block
    #edit-note
      display none

  &.edit
    .edit
      display block
    .view
      display none
    .thumbnail
      display block
    #add-note
      display none
    #edit-note
      display block

  &.view
    .edit
      display none
    .view
      display block
    .thumbnail
      display block
    #add-note
      display none
    #edit-note
      display none

  .thumbnail
    margin 0 auto
    width 150px
    height 150px
    background-repeat no-repeat

#context-creator
  display none
  position absolute
  background #eee
  padding 1em
  right 0

  &.active
    display block

#notes-list
  height 250px
  overflow-y scroll

#collaborators
  width 100px
  margin-left 0

  .collaborator
    display block
    padding 2px
    margin 0 0 2px 0
    border 1px solid black
    width 100%
    background-size contain
    background-repeat no-repeat
    color white
    font-size 9px
    line-height 1em
    text-align right
    box-sizing border-box

svg
  &.view
    cursor pointer
  &.note
    cursor crosshair
  &.move
    cursor move
  &.delete
    cursor not-allowed
