body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#notes {
  height: 800px;
}
#note-creator {
  display: none;
  position: absolute;
  background: #eee;
  padding: 1em;
  right: 0;
}
#note-creator.active {
  display: block;
}
#context-creator {
  display: none;
  position: absolute;
  background: #eee;
  padding: 1em;
  right: 0;
}
#context-creator.active {
  display: block;
}
#notes-list {
  height: 250px;
  overflow-y: scroll;
}
.collaborator {
  display: block;
  padding: 2px;
  margin: 0 0 2px 0;
  border: 1px solid #000;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 9px;
  line-height: 1em;
  text-align: right;
}
.note {
  width: 150px;
  height: 30px;
  border: 1px solid #eee;
  padding: 5px;
}
.note h2 {
  font-size: 1em;
  line-height: 1em;
}
.note-item h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}
svg.move {
  cursor: move;
}
svg.delete {
  cursor: not-allowed;
}
