body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#notes
  height 500px

#notes-list
  height 250px
  overflow-y scroll

.collaborator
  padding 5px
  color white

.note
  width 150px
  height 30px
  border 1px solid #eee
  padding 5px

  h2
    font-size 1em
    line-height 1em


.note-item

  h2
    font-size 1.5em
    line-height 1.5em
